@model RedditService.Models.UserEntity

<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Address: @Model.Address</p>
    <p>City: @Model.City</p>
    <p>Country: @Model.Country</p>
    <p>Email: @Model.RowKey</p>
    <p>Phone Number: @Model.PhoneNumber</p>
    <!-- Display the image using the URL from Azure Blob Storage -->
    <div class="profile-container">
        <div class="profile-image">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Profile Image" class="img-thumbnail" />
            }
          
        </div>
        </div>
        <p>
            @Html.ActionLink("EditProfile", "EditProfile", "Profile", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </p>
</body>
</html>
