@{
    List<RedditService.Models.PostEntity> posts = ViewBag.Posts;
    List<RedditService.Models.CommentEntity> comments = ViewBag.Comments;
    var klik = ViewBag.ButtonClick;
}

<script src="https://use.fontawesome.com/2903eb4599.js"></script>

<link href="~/Content/Feed.css" rel="stylesheet" type="text/css" />

<div class="card-list">
    @foreach (var p in posts)
    {
        <article class="card">
            <figure class="card-image">
                <img src="@p.ImageUrl" alt="@p.Title" />
            </figure>
            <div class="card-header">
                <a href="#">@p.Title</a>
            </div>

            <p>@p.Content</p>
            <div class="card-footer">
                <div class="card-meta card-meta--views">
                    <form action="@Url.Action("LikePost", "Feed")" method="post" style="display:inline;">
                        <input type="hidden" name="rowkey" value="@p.RowKey" />
                        <input type="hidden" name="isUpvote" value="true" />
                        <a href="#" class="like" onclick="this.closest('form').submit(); return false;">
                            <i class="fa fa-thumbs-o-up"></i>
                            <input class="qty1" name="qty1" type="text" value="@p.Upvotes" readonly />
                        </a>
                    </form>

                    <form action="@Url.Action("LikePost", "Feed")" method="post" style="display:inline;">
                        <input type="hidden" name="rowkey" value="@p.RowKey" />
                        <input type="hidden" name="isUpvote" value="false" />
                        <a href="#" class="like" onclick="this.closest('form').submit(); return false;">
                            <i class="fa fa-thumbs-o-down"></i>
                            <input class="qty1" name="qty1" type="text" value="@p.Downvotes" readonly />
                        </a>
                    </form>

                    <form action="@Url.Action("Comments", "Feed")" method="get" style="display:inline;">
                        <input type="hidden" name="rowkey" value="@p.RowKey" />                 
                        <a href="#"  onclick="this.closest('form').submit(); return false;">
                            <i class="fa fa-thumbs-o-down"></i>
                        </a>
                    </form>
                </div>

                <div class="card-meta card-meta--date">
                    @if (klik == "clicked" && comments.Count >= 0 )
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Leave a comment</h5>
                                <hr />
                                <form action="@Url.Action("AddComment", "Feed")" method="post" style="display:inline;">
                                    <input type="hidden" name="postId" value="@p.RowKey" />
                                    <textarea name="content" placeholder="Add a comment..."></textarea>
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </div>

                        foreach (var c in comments)
                        {
                            if(c.PostId==p.RowKey)
                            {<div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">@c.AuthorEmail</h5>
                                        <p class="card-text">@c.Content</p>
                                        <hr />
                                    </div>
                                </div>

                            }

                        }

                    }






                </div>
            </div>
        </article>
    }
</div>